@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import "tailwindcss";
@tailwind utilities;

@theme {
    --font-dmMono: "DM Mono", monospace;
    --color-oat: #eeeceb;
    --color-pepper: #a70315;
}

@layer base {
    body {
        font-family: var(--font-dmMono);
    }
}

.card-grid_list {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.wanted-grid_list.card-grid_list {
    grid-template-rows: repeat(auto-fill, minmax(15rem, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}

.detailed-item h3 {
    text-transform: uppercase;
    color: var(--color-pepper);
}

@media screen and (max-width: 991px) {
    .card-grid_list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    .card-grid_list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 479px) {
    .integrations-grid_list.card-grid_list {
        flex-flow: column;
        display: flex;
    }
}
